@model List<ResultAboutDTO>

<div class="about_section layout_padding">
    <div class="container">
        <div class="about_main">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-12">
                        <h1 class="about_taital">Hakkımızda</h1>
                        <p class="about_text">@item.Title</p>
                        <div class="about_img"><img src="@item.ImageUrl"></div>
                        <p class="about_text_1">@item.Description</p>

                        <!-- Buton ile footer arası boşluk eklendi -->
                        <div class="readmore_bt" style="margin-bottom: 80px;">
                            <a href="/About/Index">Daha Fazla</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
