<div class="footer_section">
    <div class="location_bg">
        <div class="container">
            <div class="location_main">
                <ul>
                    <li>
                        <a href="#">
                            <img src="~/Profusion-1.0.0/images/map-icon.png">
                            <span class="padding_15">Location</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Profusion-1.0.0/images/call-icon.png">
                            <span class="padding_15">Call +01 1234567890</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Profusion-1.0.0/images/mail-icon.png">
                            <span class="padding_15">demo@gmail.com</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="map_main">
        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
        </div>
    </div>
</div>