@model List<ResultLocationDTO>
<div class="footer_section">
    @foreach (var item in Model)
    {
        <div class="location_bg">
            <div class="container">
                <div class="location_main">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="~/Profusion-1.0.0/images/map-icon.png">
                                <span class="padding_15">Konum</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/Profusion-1.0.0/images/call-icon.png">
                                <span class="padding_15">Tel : @item.PhoneNumber</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/Profusion-1.0.0/images/mail-icon.png">
                                <span class="padding_15">@item.Email</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="map_main">
            <div class="map-responsive">
                <iframe src="@item.iFrame;q=Eiffel+Tower+Paris+France" width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
            </div>
        </div>
    }
</div>